body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
h1,h2,h3,h4,p{
    margin: 0;
}
ul, ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
}
a {
    text-decoration: none;
}
button{
    cursor: pointer;
}
img{
    display: block;
}
.site-header{
    border-bottom: 1px solid #e7e9fc;
}
.header-wraper{
    display: flex;
    justify-content: space-between;
}
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav{
    display: flex;
    align-items: center;
    
}
.nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.addres-block{
    display: flex;
}
.logo{
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    padding: 25px 0;
    margin-right: 76px;
    color: #4d5ae5
}
.header-logo {
    color: #2e2f42;
}
.footer-logo {
    color: #f4f4fd;
}
.navigate {
    font-weight: 500;
    letter-spacing: 0.32px;
    color: #2e2f42;
    padding: 24px 0;
}
.navigate:hover {
    color: #404bbf;
}
.navigate:focus {
    color: #404bbf;
}
.navigate:visited {
    color: #404bbf;
}
.header-addres{
    font-style: normal;
}
.addres-block {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    letter-spacing: 0.32px;
}
.addres-block-item{
    color: #434455;
}
.addres-block-item:hover{
    color: #404bbf;
}
.addres-block-item:focus {
    color: #404bbf;
}
.hero {
    background-color: #2E2F42;
    height: 600px;
    padding: 188px 0;
}

.hero-text {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
    max-width: 496px;
    margin: auto;
    margin-bottom: 48px;
}
.hero-button {
    font-family: "Roboto", sans-serif;
    display: block;
    margin: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color:#FFFfff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
}
.hero-button:hover {
    background-color: #404BBF;
}
.hero-button:focus {
    background-color: #404BBF;
}
.about-as{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-as-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.about-as-block{
    width: calc((100% - 72px) / 4);

}
.list-item{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    color: #2e2f42;
}
.list-text{
    color: #434455;
    letter-spacing: 0.32px;
    text-align: left;
}
.our-team{
    background-color: #F4F4FD;
    padding: 120px 0
}
.section-head{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0;
    margin-bottom: 72px;
}
.list-position{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.item-paddind{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.item-paddind-text{
    padding: 32px 0;
}
.portfolio{
    padding: 120px 0 120px 0;
}
.add-gaps{
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
}
.portfolio-item-text{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-text{
    text-align: left;
}
.footer-style{
    height: 312px;
    background:#2E2F42;
    padding: 100px 0;
}
.footer-text{
    max-width: 264px;
    color:#F4F4FD;
    letter-spacing: 0.32px;
}
.footer-logo-style{
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
    padding: 0;
}